BTrees==4.4.1
Flask==0.12
Flask-Mail==0.9.1
Jinja2==2.9.5
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==1.1.10
Werkzeug==0.11.15
ZConfig==3.1.0
ZEO==5.1.0
ZODB==5.2.4
ZODB3==3.11.0
biopython==1.69
blinker==1.4
click==6.7
ete3==3.1.1
futures==3.1.1
itsdangerous==0.24
mysqldbda==1.0.2
numpy==1.12.0
persistent==4.2.4.2
psycopg2==2.7.1
pytz==2017.2
redis==2.10.5
scipy==1.0.0
six==1.10.0
transaction==2.1.2
trollius==2.1
uWSGI==2.0.17
wsgiref==0.1.2
zc.lockfile==1.2.1
zdaemon==4.2.0
zodbpickle==0.6.0
zope.app.form==5.0.0
zope.browser==2.1.0
zope.browsermenu==4.2
zope.browserpage==4.1.0
zope.component==4.3.0
zope.configuration==4.1.0
zope.container==4.1.0
zope.contenttype==4.2.0
zope.datetime==4.1.0
zope.dottedname==4.2
zope.event==4.2.0
zope.exceptions==4.1.0
zope.filerepresentation==4.1.0
zope.formlib==4.3.0
zope.i18n==4.2.0
zope.i18nmessageid==4.1.0
zope.interface==4.4.1
zope.lifecycleevent==4.1.0
zope.location==4.0.3
zope.pagetemplate==4.2.1
zope.proxy==4.2.1
zope.publisher==4.3.2
zope.rdb==3.5.0
zope.schema==4.4.2
zope.security==4.1.1
zope.size==4.1.0
zope.tal==4.2.0
zope.tales==4.1.1
zope.thread==3.4
zope.traversing==4.1.0
