{% extends "main.html" %}
{% block mainbody %}
<div class="container-fluid">
    <h2 class="page-header">About</h2>
    <p>Kitty loves pigs meow go back to sleep owner brings food and water tries to pet on head, so scratch get sprayed
        by water because bad cat thug cat so that box? i can fit in that box so jump five feet high and sideways when a
        shadow moves, yet behind the couch. Cats go for world domination chase ball </p>
    <ul>
        <li>chase ball of string</li>
        <li>kitty ipsum dolor sit amet</li>
    </ul>
    <h2 class="page-header">References</h2>
    <ol>
        <li>J. H. Hetherington and F. D. C. Willard: <i>Two-, Three-, and Four-Atom Exchange Effects in bcc <sup>3</sup>He.</i>
            Phys. Rev. Lett. 35, 1442–1444 (1975)</li>
    </ol>
</div>
{% endblock %}