{% extends "main.html" %}
{% block mainbody %}
<div class="container" style="padding-top:25px;">
    <a href="results/example/report" class="btn btn-primary" style="width:250px">Open example output &raquo;</a>
    <a href="#" class="btn btn-primary" style="width:250px">Download example &raquo;</a>
    <hr>
    <h4>New Job</h4>
    <form action="upload" method="post" enctype="multipart/form-data">
    <div class="form-group row">
            <label class="control-label col-md-2" for="ncbiacc1">NCBI Accession Number(s)</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="ncbiacc1" id="ncbiacc1" placeholder="Enter up to 5 NCBI accession numbers, separated by commas, once that works">
        </div>
    </div>
        <div class="form-group row">
            <label class="control-label col-md-2" for="seqfile1">Sequence</label>
            <div class="col-md-10">
                <input type="file" class="form-control" id="seqfile1" name="seqfile1">
            </div>
        </div>
    <a data-toggle="collapse" href="#moreseq" aria-expanded="false" aria-controls="moreseq"><h4>Add more sequences, maybe? <span class="glyphicon glyphicon-plus"></span></h4></a>
    <div class="collapse" id="moreseq">
            <div class="form-group row">
                <label class="control-label col-md-2" for="seqfile2">Sequence</label>
                <div class="col-md-10">
                    <input type="file" class="form-control" id="seqfile2" name="seqfile2">
                </div>
            </div>
    </div>
        <h4>General</h4>
    <div class="form-group row">
        <label class="col-md-2">Options</label>
        <div class="col-md-10">
            <div class="radio">
                <label><input type="radio" name="optradio">Concatenated alignment</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Coalescent tree</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Reference alignment</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width:300px" id="submitjob">Submit Job &raquo;</button>
        </form>
</div>
{% endblock %}