{% extends "main.html" %}
{% block mainbody %}
<div class="container" style="padding-top:25px;">
    <ul class="nav nav-tabs">
        <li class="active" id="fasttab"><a data-toggle="tab" href="#fastwork" onclick="$('#workflow').val('2');">Accelerated workflow</a> </li> <!-- active class is lost after scrolling -->
        <li id="mtab"><a data-toggle="tab" href="#manual" onclick="$('#workflow').val('1');">Classical workflow</a> </li>
    </ul>
    <br />

    <form action="startjob" method="post" enctype="multipart/form-data" name="sequpload" id="sequpload">
            <div class="tab-content">
            <div id="fastwork" class="tab-pane fade in active">
                <p><b>Accelerated Mode</b>: Automatically add your sequences to a precreated reference tree for a genus of your choice.</p>
                <hr>
        <div class="form-group" id="genusform">
            <label for="genusselect">Select reference genus:</label>
            <select class="form-control" id="genusselect" name="genusselect">
                <option value="auto">Auto</option>
                <option value="autouser">Auto with user confirmation</option>
            </select>
        </div>
            </div>
                <div id="manual" class="tab-pane fade">
                    <span class="sr-only">Workflow progress: The current step is </span><a href="/analyze" class="steps">Step 1 <small>Enter sequences</small> &raquo;</a> <span class="sr-only">The next steps in this workflow are </span><span class="steps-disabled">Step 2 &raquo;</span> <span class="steps-disabled">Step 3 &raquo;</span> <span class="steps-disabled">Results</span>
                    <hr>
                    <p><b>Classical Mode</b>: After uploading your sequences, choose from which species to construct the tree for them, and choose
                        the genes to use for the MLST.</p>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <h2 class="h4alike">Options</h2></div>
                        <div class="col-md-10">
                            <div class="checkbox">
                                <label><input type="checkbox" value="skip2" id="skip2" name="skip2">Select default nearest organisms (skip Step 2)</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="skip3" id="skip3" name="skip3">Select default MLST genes (skip Step 3)</label>
                            </div>

                            <div class="checkbox">
                                <label data-toggle="tooltip" data-placement="right" title="For interpretation of scores see About section."><input type="checkbox" value="1000" id="boots" name="boots">Perform IQ-TREE Ultrafast Boostrap analysis (1000 replicates)</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" value="concatenated" checked="checked">Concatenated alignment</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" value="coalescent">Coalescent tree</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    <hr>
    <h2 class="h4alike">Sequences</h2>

        <div class="form-group row">
            <div class="col-md-10">
            <label for="upfiles">Accession numbers and uploaded files</label>
            <select multiple class="form-control selectablein" id="upfiles" name="upfiles" size="10"></select>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" id="remfiles" style="margin-top:25px" onclick="removeAllSeqs()">Remove selected sequences</button>
            </div>
        </div>
    <progress id="uploadprog" style="width:100%" value=0 class="bootstripe bootstripe-active"></progress>
        <div id="ncbiload" class="hidden"><b>Downloading file from NCBI. This may take a few minutes.</b> <div class="loader"></div>
        </div>
    <h2 class="h4alike">Upload Genomes</h2>
    <div class="form-group row">
            <label class="control-label col-md-2" for="ncbiacc1">NCBI Accession Number</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="ncbiacc1" id="ncbiacc1" placeholder="Enter a NCBI accession number"> <!-- hitting enter after entering accession nr automatically submits -->
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="ncbibtn" onclick="uploadSequence('ncbi')"><span class="glyphicon glyphicon-plus"></span> Upload</button>
        </div>
    </div>
        <div class="form-group row">
            <label class="control-label col-md-2" for="seqfile1">Sequence</label>
            <div class="col-md-8">
                <input type="file" class="form-control" id="seqfile1" name="seqfile1">
            </div>
            <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="seqbtn" onclick="uploadSequence('seqfile')"><span class="glyphicon glyphicon-plus"></span> Upload</button>
        </div>
        </div>
<!-- if file fails/ID not found, unhide warning -->
        <div class="alert alert-success hidden" id="uploadsuccess">Upload successful</div>
        <div class="alert alert-danger hidden" id="uploadwarning"><strong>Error:</strong> Upload failed</div>
        <div class="alert alert-danger hidden" id="errorwarning"><strong>Error:</strong> Invalid accession number or sequence file</div>
        <div class="alert alert-danger hidden" id="accwarning"><strong>Error:</strong> Invalid accession number. Accession numbers may only contain alphanumeric characters (A-Z, 0-9) and underscores.</div>
        <div class="alert alert-danger hidden" id="duplicatewarning"><strong>Error:</strong> Sequence already uploaded.</div>
        <div class="alert alert-warning hidden" id="seqwarn"><strong>Maximum number of files and accession numbers reached.</strong></div>
        <div class="alert alert-danger selectablewarn hidden"><strong>Error:</strong> No sequences uploaded. Please upload sequences before submitting.</div>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes alert alert-danger">
    {% for message in messages %}
      <strong>Error: </strong>{{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

        <button type="button" class="btn btn-primary" style="width:300px" id="submitjob" onclick="selectAndSend('#sequpload');">Submit Job &raquo;</button>
        <input type="hidden" id="filesrc" name="filesrc" value="">
        <input type="hidden" id="workflow" name="workflow" value="2">
    </form>
    <hr>
    <div style="margin-top:10px">
    <a href="results/example/report" class="btn btn-primary" style="width:220px">Open example output &raquo;</a>
    <a href="#" class="btn btn-primary" style="width:220px">Download example &raquo;</a>
    </div>
</div>

<script src="/static/js/analysispage.js"></script>
<script>$('body').onload=refGenus();</script>

{% endblock %}