{% extends "main.html" %}
{% block mainbody %}
    <!-- /container -->
<div class="jumbotron frontjt"> <!-- background image missing -->
        <div class="darkbarbg" style="padding-bottom:20px"> <!-- quick fix to bottom padding -->
            <div class="container">
                <h1 class="h2alike">Automatic Multi-Locus Species Tree</h1>
                <ul>
                    <li>Do a thing!</li>
                    <li>Do another thing!</li>
                    <li>SCIENCE!</li>
                </ul>
                <center><a href="/analyze" class="btn btn-primary" role="button">Start query &raquo;</a> <a href="#" class="btn btn-primary" role="button">View example &raquo;</a></center>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Something we want under a header</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>First header</h3>
                <img src="../static/images/image1.png" alt="" width="300" class="img-responsive">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. </p>
            </div>
            <div class="col-md-4">
                <h3>Second header</h3>
                <img src="../static/images/image2.png" alt="" width="300" class="img-responsive">
                <p>Cat ipsum dolor sit amet, dream about hunting birds but eat prawns daintily with a claw then lick
                    paws clean wash down prawns with a lap of carnation milk . </p>
            </div>
            <div class="col-md-4">
                <h3>Third header</h3>
                <img src="../static/images/image3.png" alt="" width="300" class="img-responsive">
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                    felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <a href="#" class="btn btn-default" role="button">View details &raquo;</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>First header</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. </p>
            </div>
            <div class="col-md-4">
                <h3>Second header</h3>
                <p>Cat ipsum dolor sit amet, dream about hunting birds but eat prawns daintily with a claw then lick
                    paws clean wash down prawns with a lap of carnation milk . </p>
            </div>
            <div class="col-md-4">
                <h3>Third header</h3>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                    felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <a href="#" class="btn btn-default" role="button">View details &raquo;</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <!-- footer images aren't there -->
        <img src="../static/images/unituebingen.png" height="30">
        <img src="../static/images/dzif.png" height="30">
    </footer>
{% endblock %}