{% extends "main.html" %}
{% block mainbody %}
<link href="/static/css/sidebar.css" rel="stylesheet">
<div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li>
                        <a href="#query" data-scroll>
                            <span class="fa fa-anchor solo">Submitting</span>
                        </a>
                    </li>
                    <li>
                        <a href="#work1" data-scroll>
                            <span class="fa fa-anchor solo">Workflow 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#work2" data-scroll>
                            <span class="fa fa-anchor solo">Workflow 2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#results" data-scroll>
                            <span class="fa fa-anchor solo">Results</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
<div class="page-content-wrapper">
<div class="page-content inset container-fluid">
    <div class="row">
        <div class="col-md-12">
    <h2 class="page-header" id="query">Submitting a Query</h2>
    </div>
        <div class="col-md-6">
            <img src="/static/images/help/slide1recolor.jpg" alt="analyze screen" class="img-responsive" style="border:1px solid #cccccc;"> <!-- problem: doesn't actually scale to full container width! -->
        </div>
        <div class="col-md-6">
            <ol>
                <li><h5>Enter sequences</h5>
                <ol style="list-style-type:lower-alpha;">
                    <li>Retrieve an NCBI sequence by its accession number. Probably some more explanatory text.</li>
                    <li>Upload a sequence file. Acceptable formats are FASTA, Genbank (and EMBL?) files.</li>
                    <li>Remove selected sequences from the list.</li>
                </ol></li>
                <li> <h5>Choose workflow</h5> <ul>
                    <li><b>Workflow 1</b>:</li>
                    <li><b>Workflow 2</b>:</li>
                </ul></li>
            </ol>
        </div>
    </div>
    <h2 class="page-header" id="work1">Workflow 1</h2>
    <h3>Step 1</h3>
    <div class="row">
    <div class="col-md-6">
        <img src="/static/images/help/step1annotated.jpg" alt="loading screen" class="img-responsive" style="border:1px solid #cccccc;">
    </div>
    <div class="col-md-6">
        <ol>
            <li>Nearest organisms and genes to use for the MLST can either be selected manually or automatically.
            Manual selection enables the user to modify the list of organisms or genes autoMLST uses to construct the
            tree; automatic selection automatically proceeds with the 50 nearest organisms or 10 best genes as found
            by autoMLST's algorithm, requiring no further user input. <br />
            <b>Note:</b> If no boxes are checked when calculations are complete, autoMLST expects manual selection of organisms and
                genes.
            </li>
        </ol>
    </div>
        </div>
    <h3>Step 2 <small>Species and outgroup selection</small></h3> <!-- do prettier layout! -->
    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/help/step2annotated1.jpg" alt="species selection screen" class="img-responsive" style="border:1px solid #cccccc;">
            <img src="/static/images/help/step2annotated2.jpg" alt="outgroup selection screen" class="img-responsive" style="border:1px solid #cccccc;margin-top:5px;">
        </div>
        <div class="col-md-6">
            <ol start="2">
                <li>By default, autoMLST picks the 50 closest organisms it detects to continue. Users are able to add
                organisms from the organism list to this selection or remove them. <br />
                <b>Note:</b> A maximum of 50 organisms will be used for tree construction; additional species above this
                number will not be used.</li>
                <li>By default, up to 5 species are used for outgroups. Users are able to add organisms from the
                outgroup list to this selection or remove them. <br />
                <b>Note:</b> A maximum of 5 outgroups will be used; additional species above this number will not be
                used.</li>
            </ol>
        </div>
    </div>
    <h3>Step 3 <small>MLST gene selection</small></h3>
    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/help/step3annotated.jpg" alt="MLST gene selection screen" class="img-responsive" style="border:1px solid #cccccc;">
        </div>
        <div class="col-md-6">
            <ol start="4">
                <li>autoMLST selects 10 genes for the MLST by default. Users are able to add or remove genes from this
                selection. <br />
                <b>Note:</b> A maximum of 10 genes will be used for the MLST; additional genes above this number will
                    not be used.</li>
                <li>autoMLST can create either a concatenated alignment or a coalescent tree. (Short explanation!)</li>
            </ol>
        </div>
    </div>
    <h2 class="page-header" id="work2">Workflow 2</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/help/workflow2annotated.jpg" alt="genus selection option" class="img-responsive" style="border:1px solid #cccccc;">
        </div>
        <div class="col-md-6">
            <ol>
                <li>Users can either proceed with autoMLST's selection for a genus or select their own.</li>
            </ol>
        </div>
    </div>
    <h2 class="page-header" id="results">Results</h2>
    <div class="col-md-6">
        <img src="/static/images/help/resultsannotated.jpg" alt="result screen" class="img-responsive" style="border:1px solid #cccccc;">
    </div>
    <div class="col-md-6">
        <p>Some explanation of the tree. <br />
        User-submitted sequences are highlighted. <br />
        <b>Note:</b> The "reanalyze from Step 2" option only exists in Workflow 1. Workflow 2 proceeds automatically
        after the initial sequences have been submitted.</p>
    </div>
</div>
</div>
{% endblock %}