{% extends "main.html" %}
{% block mainbody %}
<div class="container-fluid">
    <h2 class="page-header">Doing one thing</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="screenshot.jpg" alt="helpful screenshot" class="img-responsive" style="border:1px solid #cccccc;">
        </div>
        <div class="col-md-6">
            <p>Cat ipsum dolor sit amet, plays league of legends massacre a bird in the living room and then look like the
            cutest and most innocent animal on the planet or jump launch to pounce upon little yarn mouse, bare fangs at
                toy run hide in litter box until treats are fed meow to be let in. Throw down all the stuff in the kitchen</p>
            <ol>
                <li>chase imaginary bugs,</li>
                <li> paw at your fat belly </li>
                <li> toy mouse squeak </li>
            </ol>
        </div>
    </div>
    <h2 class="page-header">Doing another thing</h2>
    <p>Stare at ceiling light roll on the floor purring your whiskers off or please stop looking at your phone and pet
        me purr for no reason, step on your keyboard while you're gaming and then turn in a circle and cats making all
        the muffins yet attack dog, run away and pretend to be victim. Gate keepers of hell meow all night having their
        mate disturbing sleeping humans.</p>
</div>
{% endblock %}