{% extends "main.html" %}
{% block mainbody %}
<div class="container" style="padding-top:40px">
<h2>Job ID: {{ jobid }}</h2>
<h3 class="page-header" style="margin-top:0px">Results</h3>
    <div class="row">
        <div class="col-md-2">
            <h3 class="h4alike">Report:</h3>
        </div>
        <div class="col-md-10">
            <p style="margin-top:10px">{{ jobid }}</p>
        </div>
    </div>
     <div class="row">
        <div class="col-md-2">
            <h3 class="h4alike">Status</h3>
        </div>
        <div class="col-md-10">
            <p style="margin-top:10px"><b>Finished</b></p>
        </div>
    </div>
    <hr>
    <!-- Add tree here -->
    <div id="sizebtns" style="display:none">
            <!--<button type="button" class="btn btn-primary" aria-label="Increase tree height" data-toggle="tooltip" title="Increase tree height" onclick="resizeTree('upV')"><span class="glyphicon glyphicon-plus"></span></button>
            <span class="glyphicon glyphicon-resize-vertical" style="font-size:25px;vertical-align:middle"></span>
            <button type="button" class="btn btn-primary" aria-label="Decrease tree height" data-toggle="tooltip" title="Decrease tree height" onclick="resizeTree('downV')"><span class="glyphicon glyphicon-minus"></span></button>
            <span style="display:block; padding:2px"></span> -->
             <button type="button" class="btn btn-primary" aria-label="Increase tree width" data-toggle="tooltip" data-placement="top" title="Increase tree width" onclick="resizeTree('upH')"><span class="glyphicon glyphicon-plus"></span></button>
            <span class="glyphicon glyphicon-resize-horizontal" style="font-size:25px;vertical-align:middle"></span>
            <button type="button" class="btn btn-primary" aria-label="Decrease tree width" data-toggle="tooltip" data-placement="top" title="Decrease tree width" onclick="resizeTree('downH')"><span class="glyphicon glyphicon-minus"></span></button>
        <span style="display:block; padding:2px"></span>
        <button type="button" class="btn btn-primary" onclick="toggleScale();" style="width:250px">Toggle scaled/unscaled branches</button>

    </div>
    <div id="svgCanvas">

            <!-- <img src="/static/images/Socotra_dragon_tree.jpeg" alt="loading screen" class="thumbnail" style="width:50%;margin:auto">-->
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" aria-valuetext="Loading" style="width:100%"></div>
        </div>
        <p style="text-align:center"><b>Loading tree...</b></p>
    </div>
<div id="searchdiv" style="display:none">
    <label for="searchtree">Search organisms:</label>
        <input type="text" id="searchtree" placeholder="Search..." oninput="searchTree(this.value);">
</div>
    <!-- <button type="button" class="btn btn-primary" onclick="drawTree('{{ jobid }}')" style="margin-top:20px">Click</button> -->
    <hr>
    <h4>Most similar organisms</h4>
    <table class="table table-bordered table-hover" cellspacing="0" id="mashinfo" width="100%">
        <thead>
        <tr>
            <th>Query organism</th>
            <th>Reference assembly ID</th>
            <th>Reference name</th>
            <th>Mash distance</th>
            <th>estimated <abbr title="average nucleotide identity">ANI</abbr></th>
            <th>P-value</th>
            <th>Genus</th>
            <th>Order</th>
            <th>Type strain</th>
        </tr>
        </thead>
    </table>
    <hr>

         <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" style="width:200px" id="treedownl" name="treedownl" data-toggle="dropdown"><span class="glyphicon glyphicon-download-alt"></span> Download tree <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li style="width:200px"><a href="/results/{{ jobid }}/tree?format=newick">Download Newick file</a></li>
            <!-- <li><a href="/results/{{ jobid }}/tree?format=nexml">Download NeXML file</a></li>
            <li><a href="/results/{{ jobid }}/tree?format=phyloxml">Download PhyloXML file</a></li>
            <li id="downlink"><a id="imgdownl" href="#" target="_blank">Download svg image</a></li>
            <li id="pnglink"><a id="pngdownl" href="#" target="_blank" onclick="downloadPng();">Download png image</a></li>-->
        </ul>
        </div>
    <!-- <a href="/results/{{ jobid }}/tree?format=newick" class="btn btn-primary" role="button" style="width:200px" id="treedownl" name="treedownl"><span class="glyphicon glyphicon-download-alt"></span> Download tree</a> -->
    <button type="button" class="btn btn-primary" style="width:200px" id="aligndownl" name="aligndownl"><span class="glyphicon glyphicon-download-alt"></span> Download alignment</button>
    <button type="button" class="btn btn-primary" style="width:200px" id="mlstdownl" name="mlstdownl"><span class="glyphicon glyphicon-download-alt"></span> Download MLST list</button>
    <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" style="width:200px" id="orgdownl" name="orgdownl" data-toggle="dropdown"><span class="glyphicon glyphicon-download-alt"></span> Download organism list <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/results/{{ jobid }}/downloadorgs?format=json">Download JSON file</a></li>
            <li><a href="/results/{{ jobid }}/downloadorgs?format=txt">Download tab-separated text</a></li>
        </ul>
        </div>
    <a href="/results/{{ jobid }}/downloadmash" class="btn btn-primary" role="button" style="width:200px" id="mashdownl" name="mashdownl"><span class="glyphicon glyphicon-download-alt"></span> Download Mash distances</a>
    <!-- button layout? -->
        {% if workflow != 2 %}
    <hr>
    <a href="/results/{{ jobid }}/reanalyze" role="button" class="btn btn-primary" style="width:300px" id="resubmit" name="resubmit"><span class="glyphicon glyphicon-repeat"></span> Reanalyze from Step 2</a>
    <div class="alert alert-warning" style="margin-top:10px"><strong>Warning:</strong> Reanalyzing will clear your current results.</div>
        {% endif %}
        <input type="hidden" id="jobinfo" name="jobinfo" value="{{ jobid }}">
        <input type="hidden" id="pageid" name="pageid" value="report">
</div>
    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script src="/static/js/mashtable.js"></script>
<script src="https://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
<script src="https://cdn.rawgit.com/tntvis/tnt.utils/master/build/tnt.utils.js"></script>
<script src="http://tntvis.github.io/tnt.tree/build/tnt.tree.min.js" charset="utf-8"></script>
    <script src="/static/js/report-tnt.js"></script>
{% endblock %}