{% extends "main.html" %}
{% block mainbody %}
<div class="container" style="padding-top:40px">
    <h2>{{ jobid }}</h2>
    <a href="#" class="steps">Step 1 &raquo;</a> <span class="steps-disabled">Step 2  &raquo;</span> <span class="steps-disabled">Step 3 &raquo;</span> <span class="steps-disabled">Results</span>
    <hr>
     <div class="row">
        <div class="col-md-2">
            <h4>Job ID</h4>
        </div>
        <div class="col-md-10">
            <p style="margin-top:10px">{{ jobid }}</p>
        </div>
    </div>
<!--    <div class="row">
        <div class="col-md-2">
            <h4>Status</h4>
        </div>
        <div class="col-md-10">
            <p style="margin-top:10px"><b>Calculating closest organism (Step 1)</b></p>
        </div>
    </div> -->
    <hr>
    <h4>Status</h4>
     <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ jobstatus }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ jobstatus }}%"></div>
    </div>
</div>
{% endblock %}