{% extends "main.html" %}
{% block mainbody %}
<div class="container" style="padding-top:40px;">
    <h2>{{ jobid }}</h2> <!-- can be prettier probably -->
    <a href="/analyze" class="steps">Step 1 &raquo;</a> <a href="#" class="steps">Step 2 <small>Species and outgroup selection</small> &raquo;</a> <span class="steps-disabled">Step 3 &raquo;</span> <span class="steps-disabled">Results</span>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <h4>Job ID</h4>
        </div>
        <div class="col-md-10">
            <p style="margin-top:10px">{{ jobid }}</p> <!-- tweak margin? -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h4>Status</h4>
        </div>
        <div class="col-md-10">
            <p style="margin-top:10px"><b>Species and outgroup selection (Step 2)</b></p>
        </div>
    </div>
    <hr>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width:33%"></div>
    </div>
    <h3 class="page-header">Species</h3>
    <form action="orgin" method="post" enctype="multipart/form-data" name="species" id="species">
        <div class="row">
        <div class="form-group col-md-5">
            <h4>Species found</h4>
            <label for="speciessel">Select additional species (closest 50 selected by default)</label>
            <select multiple class="form-control" id="speciessel" size="40" style="width:100%;overflow:auto;">
            </select>
        </div>
            <div class="col-md-2" style="padding-top:65px">
                <button type="button" class="btn btn-default" style="width:100%" onclick="addtolist('#speciessel','#specieslist'); refreshView('#specieslist',50); idSearch()">Add to list</button>
                <button type="button" class="btn btn-default" style="width:100%;margin-top:2px;" onclick="removeAllFromList('#specieslist'); refreshView('#specieslist',50); idSearch()">Remove from list</button>
                <button type="button" class="btn btn-default" style="width:100%;margin-top:2px" onclick="addtolist('#specieslist','#specieslist'); refreshView('#specieslist',50); idSearch()">Move to top</button>
            </div>
            <div class="form-group col-md-5">
                <h4>Selected species</h4>
                <label for="specieslist">Add species (maximum 50)</label>
            <select multiple class="form-control selectablein" id="specieslist" name="specieslist" size="40" style="width:100%;overflow:auto;">
            </select>
            </div>
        </div>
        <hr>
        <h4>Overview</h4>
        <p>Show/hide columns:<br />
        <a href="#" class="toggle-vis" data-column="2">Organism ID</a> - <a href="#" class="toggle-vis" data-column="4">Furthest organism</a> - <a href="#" class="toggle-vis" data-column="5">Maximum distance</a>
            - <a href="#" class="toggle-vis" data-column="6">Minimum distance</a> - <a href="#" class="toggle-vis" data-column="7">Genus</a>
             - <a href="#" class="toggle-vis" data-column="9">Family</a> - <a href="#" class="toggle-vis" data-column="11">Order</a>
             - <a href="#" class="toggle-vis" data-column="13">Phylum</a>
        </p>
        <table class="table table-bordered table-hover" id="refinfo">
           <thead>
           <tr>
               <th>Organism name</th>
               <th>Strain</th>
               <th>Organism ID</th>
               <th>Mean distance from queries</th>
               <th>Furthest organism</th>
               <th>Maximum distance</th>
               <th>Minimum distance</th>
               <th>Genus</th>
               <th>Genus ID</th>
               <th>Family</th>
               <th>Family ID</th>
               <th>Order</th>
               <th>Order ID</th>
               <th>Phylum</th>
               <th>Phylum ID</th>
           </tr>
           </thead>
        </table>
        <h3 class="page-header">Outgroups</h3>
        <div class="row">
            <div class="form-group col-md-5">
            <h4>Outgroups</h4>
            <label for="outgrsel">Select outgroup</label>
            <select multiple class="form-control" id="outgrsel" size="7" style="width:100%">
                <!--<option>purrrrrr</option>
                <option>man running from cops stops to pet cats, goes to jail.</option>
                <option>stare at guinea pigs</option>
                <option>hiss at cats </option>
                <option>claw at curtains</option>
                <option>refuse to leave cardboard box</option> -->
            </select>
        </div>
            <div class="col-md-2" style="padding-top:65px">
                <button type="button" class="btn btn-default" style="width:100%" onclick="addtolist('#outgrsel','#outgrlist'); refreshView('#outgrlist',5)">Add to list</button>
                <button type="button" class="btn btn-default" style="width:100%;margin-top:2px;" onclick="removeAllFromList('#outgrlist'); refreshView('#outgrlist',5)">Remove from list</button>
                <button type="button" class="btn btn-default" style="width:100%;margin-top:2px" onclick="addtolist('#outgrlist','#outgrlist'); refreshView('#outgrlist',5)">Move to top</button>
            </div>
            <div class="form-group col-md-5">
                <h4>Selected outgroups</h4>
                <label for="outgrlist">Add outgroup (maximum 5)</label>
            <select multiple class="form-control selectablein2" id="outgrlist" name="outgrlist" size="7" style="width:100%">
            </select>
            </div>
        </div>
        <div class="alert alert-danger selectablewarn hidden"><strong>Error:</strong> No species or outgroups selected. Please select species or outgroups before submitting.</div>
        <button type="button" class="btn btn-primary" style="width:300px;" onclick="selectAndSend('#species')">Continue &raquo;</button>
        <input type="hidden" id="jobinfo" name="jobinfo" value="{{ jobid }}">
    </form>
</div>
<!-- how big should speciessel be? -->
                <!-- what is it doing to the page scroll thing?
                <option>stare at the wall</option>
                <option>play with food </option>
                <option>get confused by dust</option>
                <option>Hunt by meowing loudly at 5am</option>
                <option>Purr as loud as possible</option>
                <option>knock everything off the table</option>
                <option>You call this cat food</option> -->
<script src="/static/js/step2.js"></script>
<script>
        $('body').onload = getOrgs();
    </script>
<script src="/static/js/orgtables.js"></script>

{% endblock %}